 /* *{
    padding: 0;
    margin: 0;
 } */

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    /* display: flex; */
    text-align: center;
    padding: 20px 40px;
    border: 2px solid blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1{
    margin-bottom: 30px;
    color: rgb(85, 152, 79);
   */
}
.quotebox{
    font-size: 20px;
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid rgb(176, 163, 173);
    background-color: rgba(82, 221, 102, 0.367);
    border-radius: 5px;
}
button{
    background-color: rgb(138, 138, 138);
    border-radius: 5px;
    padding: 5px;
}
