body{
    background-color: #212121;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#GP{
    height: 400px;
    width: 400px;
    border: solid 2px wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Parent{
    height: 200px;
    width: 200px;
    border: 2px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#child{
    height: 100px;
    width: 100px;
    border: 2px solid wheat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
