body{
    background-color: #212121;
    margin: 0px;
    padding: 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#orange{
    background-color: orange;
}
#purple{
    background-color: purple;
}